# Terraform local state & directories
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash logs
crash.log
crash.*.log

# CLI & Local Credentials (CRITIQUE)
.aws/
.env
*.pem
*.key

# System & IDE
.DS_Store
.vscode/
.idea/